/*
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@400;500&family=Poppins:ital,wght@0,300;0,500;0,700;1,300&family=Raleway:wght@400;500&family=Roboto:wght@400;500&family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,700&display=swap");
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}
/*
:root {
  --primary-color: #f9f9f9;
  --secondary-color: #111111;
  --third-color: #333333;
}
.dark-theme {
  --primary-color: #111111;
  --secondary-color: #f9f9f9;
  --third-color: #989898;
}*/
html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
}
#toggleMenu {
  display: none;
}
#toggleClose {
  display: none;
}
a {
  text-decoration: none;
  color: white;
}
header {
  justify-content: space-between;
  text-decoration: none;
  display: flex;
  transition: all 0.8s;
  top: 0;
  left: 0;
  position: sticky;
  padding: 25px;
  background-color: #111;
  color: white;
}

header .logo {
  color: var(--secondary-color);
  font-weight: 700;
  text-decoration: none;
  font-size: 24px;
  transition: 0.8s;
}
header .logo:hover {
  color: #facf0f;
}

ul {
  display: flex;
  text-align: center;
  justify-content: center;
  list-style: none;
}

ul li a {
  text-decoration: none;
  letter-spacing: 1px;
  padding-right: 40px;
  font-weight: 700;
  transition: 0.8s;
  font-size: 18px;
  color: var(--secondary-color);
  transform: translateY(5px); 
}
ul li a:hover {
  color: #facf0f;

  transition: 0.5s;
}
.fa-solid {
  color: var(--secondary-color);
  cursor: pointer;
  font-size: 20px;
  margin-top: 3px;
  margin-right: 20px;
}

#home.dark-mode  {
  height: 90vh;
  justify-content: center;
  text-align: center;
  padding: 13%;
  transition: all 0.8s;
  background-color: #000;
}
#home h1 {
  font-size: 45px;
  font-weight: bolder;
  letter-spacing: 1px;
  color: white;
}
#home p {
  font-size: 19px;
  font-weight: 500;
  color: white;
  margin-top: 16px;
}

#home button {
  width: 350px;
  height: 60px;

  margin-top: 40px;
  border: none;
  border-radius: 30px;
  background-color: #facf0f;
  font-size: 20px;
  font-weight: 700;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#home button:hover {
  background-color: chartreuse;
  cursor: pointer;

  padding-right: 100px;
  transition: 0.8s;
}

#about {
  height: 120vh;
  justify-content: center;
  text-align: center;
  background-color: #000;
  padding-top: 100px;
  transition: all 0.8s;
}
#about .line {
  background-color: #facf0f;
  width: 20%;
  height: 7px;
  border-radius: 20px;
  border: none;
  margin-left: 40%;
}
#about h1 {
  font-size: 35px;
  letter-spacing: 1px;
  color: white;
}
#about p {
  font-size: 19px;
  padding: 10px;
  font-weight: 500;
  color: white;
}
#about .box {
  display: inline-block;
  text-align: left;
  width: 600px;
  height: 550px;
  padding-top: 100px;
}
#about .box h3 {
  font-weight: bolder;
  font-size: 30px;
  padding-bottom: 20px;
  color: white;
  font-weight: 550;
  margin-left: 10px; /* Adjust this value as needed */
}
#about .box,
.skills {
  vertical-align: top;
  margin-left: 150px;
}
span {
  background-color: #99999933;
  font-size: 20px;
  color: white;
  padding: 5px 20px;
  margin: 10px;
  border-radius: 4px;

  font-weight: 500;
}

.dots {
  background-color: #facf0f;
  padding: 1px 1px;
}

.contact {
  width: 200px;
  height: 50px;
  margin-top: 35px;
  border: none;
  border-radius: 20px;
  background-color: #facf0f;

  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.contact:hover {
  background-color: chartreuse;
  cursor: pointer;
  padding-right: 50px;
  transition: 0.8s;
}

.about-span {
  color: var(--third-color);
  background-color: var(--primary-color);
  padding: 0;
  margin: 0;
  font-weight: bold;
}
#projects {
  height: 100%;
  justify-content: center;
  text-align: center;
  background-color: #000;
  padding-top: 70px;
  transition: all 0.8s;
}
#projects .line {
  background-color: #facf0f;
  width: 20%;
  height: 7px;
  border-radius: 20px;
  border: none;
  margin-left: 40%;
}
#projects h1 {
  font-size: 35px;
  font-weight: bolder;
  letter-spacing: 1px;
  color: white;
}
#projects p {
  font-size: 19px;
  padding: 10px;
  font-weight: 600;
  color: white;
}

#projects p {
  font-size: 20px;
  padding: 10px;
  font-weight: 500;
  color: white;
}
#projects h3 {
  font-weight: bolder;
  font-size: 30px;
  padding-bottom: 20px;
  padding-top: 90px;
  color: white;
}

.live {
  width: 200px;
  height: 50px;
  margin-top: 35px;
  border: none;
  border-radius: 20px;
  background-color: #facf0f;
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.live:hover {
  background-color: chartreuse;
  cursor: pointer;
  padding-right: 50px;
  transition: 0.8s;
}

#contact {
  height: 150vh;
  justify-content: center;
  text-align: center;
  background-color: #000;
  /* background-image: url(img/bck.avif);
  background-size: cover; */
  padding-top: 100px;
  transition: all 0.8s;
}
#contact .line {
  background-color: #facf0f;
  width: 20%;
  height: 7px;
  border-radius: 20px;
  border: none;
  margin-left: 40%;
}
#contact h1 {
  font-size: 40px;
  font-weight: bolder;
  letter-spacing: 1px;
  color: white;
}
#contact p {
  font-size: 19px;
  padding-bottom: 100px;
  font-weight: 500;
  color: white;
}

form {
  text-align: left;
  margin: 0 auto;
  padding: 5px;
  background-color: #111;
  width: 1000px;
  border-radius: 50px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
input,
textarea {
  display: block;
  margin: 0 auto;
  width: 50%;
  padding: 15px;
  border: none;
  border-radius: 15px;
  background-color: #99999933;
  font-weight: 600;
  font-size: 16px;
}
label {
  margin: 0 auto;
  width: 50%;
  display: block;
  padding-top: 30px;
  color: var(--third-color);
  font-weight: 600;
}

.submit {
  margin: 60px auto;
  display: block;
  width: 290px;
  height: 55px;
  border: none;
  border-radius: 20px;
  background-color: #facf0f;
  color: white;
  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.submit:hover {
  background-color: chartreuse;
  cursor: pointer;
  padding-right: 50px;
  transition: 0.8s;
}
.textarea {
  resize: none;
}

footer {
  background-color: #000;
  color: white;
  height: 50vh;
  transition: all 0.8s;
}
footer .box {
  display: inline-block;
  width: 700px;
  height: 110px;
  padding-left: 300px;
  justify-content: left;
  vertical-align: top;
  padding-bottom: 170px;
  padding-top: 100px;
}

hr {
  color: var(--primary-color);
  width: 80%;

  margin: auto;
  text-align: center;
}
footer .copy {
  text-align: center;
  padding-top: 25px;
  font-size: 14px;
  color: var(--third-color);
}

footer h3 {
  padding-bottom: 20px;
  font-size: 22px;
}

footer a {
  padding: 10px;
  font-size: 20px;
}
footer a:hover {
  color: #fa0202;
  transition: 0.5s;
}
footer .social {
  color: var(--primary-color);
}

@media screen and (max-width: 460px) {
  #toggleMenu {
    display: block;
  }

  ul {
    display: none;
    position: absolute;
    justify-content: right;
    background-color: var(--primary-color);

    width: 100%;
    height: 35vh;
    margin-top: 30px;
  }

  ul.active {
    display: block;
  }

  ul li {
    padding: 13px;
    padding-left: 180px;
    padding-top: 25px;
  }

  #home {
    height: 70vh;

    padding-top: 30%;
  }
  #home h1 {
    font-size: 40px;
  }
  #home p {
    font-size: 17px;
  }

  #home button {
    width: 240px;
    height: 60px;
  }

  #about {
    height: 135vh;
    text-align: center;
  }
  #about h1 {
    font-size: 40px;
  }
  #about p {
    font-size: 16px;
    text-align: center;
  }
  #about .box {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    width: 405px;
    height: 590px;
  }
  #about .box h3 {
    font-size: 21px;
    padding-bottom: 20px;
    padding-top: 26px;
    padding-left: 6px;
  }
  .contact {
    width: 100%; /* Adjust as needed */
    height: 50px;
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 45px;
    /*margin-right: 70%;*/
    border-radius: 20px;

  }
  span {
    background-color: #99999933;
    font-size: 20px;
    color: white;
    padding: 5px 5px;
    margin: 10px;
    border-radius: 4px;    
    font-weight: 500;
    
  }
  #projects {
      /*Adjust or remove this line */
    text-align: center;
    padding-bottom: 90px;
    max-height: 80vh;
  }
  #projects h1 {
    font-size: 40px;
  }
  #projects p {
    font-size: 17px;
  }

  #projects .box {
    display: block;
    text-align: center;
    /*width: 100px;
    height: 100px;
    padding-top: 100px;*/
  }

  #projects p {
    font-size: 17px;
  }
  #projects h3 {
    font-size: 25px;
  }
  
  #contact {
    height: auto; /* Let content determine height */
    padding-top: 50px; /* Adjust as needed */
    padding-bottom: 50px;     
  }
  
  #contact h1 {
    font-size: 40px;
  }
  #contact p {
    font-size: 17px;
  }

  form {
    text-align: left;
    margin: 0 auto;
    padding: 10px;
    width: 360px;
  }
  input,
  textarea,
  label {
    width: 80%;
  }
  footer {
    height: 50vh;
    text-align: center;
  }
  footer .box {
    display: inline;
    width: 360px;
    height: 90px;
  }

  footer .copy {
    text-align: center;
    padding-top: 25px;
    font-size: 14px;
    color: #666666;
  }
  footer h3 {
    padding-bottom: 20px;
    font-size: 20px;
  }
}
@media screen and (max-width: 1068px) {
  #toggleMenu {
    display: block;
  }

  ul {
    display: none;
    position: absolute;
    justify-content: right;
    background-color: var(--primary-color);

    width: 100%;
    height: 35vh;
    margin-top: 30px;
  }

  ul.active {
    display: block;
  }

  ul li {
    padding: 13px;
    padding-left: 180px;
    padding-top: 25px;
  }

  #home {
    height: 70vh;

    padding-top: 30%;
  }
  #home h1 {
    font-size: 40px;
  }
  #home p {
    font-size: 17px;
  }

  #home button {
    width: 240px;
    height: 60px;
  }

  #about {
    height: 135vh;
  }
  #about h1 {
    font-size: 40px;
  }
  #about p {
    font-size: 17px;
  }
  #about .box {
    display: inline;

    width: 405px;
    height: 590px;
  }
  #about .box h3 {
    font-size: 21px;
    padding-bottom: 20px;
    padding-top: 26px;
    padding-left: 6px;
  }
  .contact {
    margin-top: 35px;
    margin-bottom: 45px;
  }
  #projects {
    height: 360vh;
  }
  #projects h1 {
    font-size: 40px;
  }
  #projects p {
    font-size: 17px;
  }

  #projects .box {
    display: inline;
    text-align: center;
    width: 360px;
    height: 215px;
    padding-top: 100px;
  }
  #projects img {
    width: 160px;
    height: 100px;
    margin-top: 100px;
  }

  #prjects p {
    font-size: 17px;
  }
  #projects h3 {
    font-size: 25px;
  }
  #contact {
    height: 160vh;
  }
  #contact h1 {
    font-size: 40px;
  }
  #contact p {
    font-size: 17px;
  }

  form {
    text-align: left;
    margin: 0 auto;
    padding: 10px;

    width: 360px;
  }
  input,
  textarea,
  label {
    width: 80%;
  }
  footer {
    height: 50vh;
    text-align: center;
  }
  footer .box {
    display: inline;
    width: 360px;
    height: 90px;
  }

  footer .copy {
    text-align: center;
    padding-top: 25px;
    font-size: 14px;
    color: #666666;
  }
  footer h3 {
    padding-bottom: 20px;
    font-size: 20px;
  }
}
@media screen and (max-width: 367) {
  #toggleMenu {
    display: block;
  }

  ul {
    display: none;
    position: absolute;
    justify-content: right;
    background-color: var(--primary-color);

    width: 100%;
    height: 35vh;
    margin-top: 30px;
  }

  ul.active {
    display: block;
  }

  ul li {
    padding: 13px;
    padding-left: 180px;
    padding-top: 25px;
  }

  #home {
    height: 70vh;

    padding-top: 30%;
  }
  #home h1 {
    font-size: 40px;
  }
  #home p {
    font-size: 17px;
  }

  #home button {
    width: 240px;
    height: 60px;
  }

  #about {
    height: 135vh;
  }
  #about h1 {
    font-size: 40px;
  }
  #about p {
    font-size: 17px;
  }
  #about .box {
    display: inline;

    width: 405px;
    height: 590px;
  }
  #about .box h3 {
    font-size: 21px;
    padding-bottom: 20px;
    padding-top: 26px;
    padding-left: 6px;
  }
  .contact {
    margin-top: 35px;
    margin-bottom: 45px;
  }
  #projects {
    height: 400vh;
  }
  #projects h1 {
    font-size: 40px;
  }
  #projects p {
    font-size: 17px;
  }

  #projects .box {
    display: inline;
    text-align: center;
    width: 360px;
    height: 215px;
    padding-top: 100px;
  }
  #projects img {
    width: 160px;
    height: 100px;
    margin-top: 100px;
  }

  #prjects p {
    font-size: 17px;
  }
  #projects h3 {
    font-size: 25px;
  }
  #contact {
    height: 160vh;
  }
  #contact h1 {
    font-size: 40px;
  }
  #contact p {
    font-size: 17px;
  }

  form {
    text-align: left;
    margin: 0 auto;
    padding: 10px;

    width: 360px;
  }
  input,
  textarea,
  label {
    width: 80%;
  }
  footer {
    height: 50vh;
    text-align: center;
  }
  footer .box {
    display: inline;
    width: 360px;
    height: 90px;
  }

  footer .copy {
    text-align: center;
    padding-top: 25px;
    font-size: 14px;
    color: #666666;
  }
  footer h3 {
    padding-bottom: 20px;
    font-size: 20px;
  }
}
@media screen and (max-width: 1440px) and (max-height: 2960px) {
  #about {
    height: 155vh;
    
  }
  #about h1 {
    font-size: 40px;
  }
  #about p {
    font-size: 16px;
    text-align: center;
  }
  #about .box {
    width: 405px;
    height: 590px;
  }
  #about .box h3 {
    font-size: 21px;
    padding-bottom: 20px;
    padding-top: 26px;
    padding-left: 6px;
  }
  .contact {
    width: 100%; /* Adjust as needed */
    height: 50px;
    margin-top: 35px;
    margin-bottom: 45px;
    /*margin-right: 70%;*/
    border-radius: 20px;

  }
  span {
    background-color: #99999933;
    font-size: 20px;
    color: white;
    padding: 5px 0px;
    margin: 10px;
    border-radius: 4px;    
    font-weight: 500;
    
  }
}
